
alias v=vim
alias n=nvim
alias ls="ls -G"
alias ll="ls -lG"
alias la="ls -laG"

alias rg="rg --smart-case --hidden --glob '!.git'"
alias ..="cd .."
alias ...="cd ../.."
alias ports="lsof -i -P -n | grep LISTEN"

alias g="git"
alias gs="git status"
alias gd="git diff"
alias gdc="git diff --cached"
alias ga="git commit --all"
alias gam="git commit --all --message"
alias gcm="git commit -m"
alias gph="git push"
alias gpl="git pull"
alias gplr="git pull --rebase"
alias gf="git fetch --all"
alias gfp="git fetch --all --prune"
alias gr="git rebase -i"
alias gro="git rebase -i origin/main"
alias gl="git log --oneline --graph -20"
alias gb="git branch"
alias gco="git checkout"
alias gst="git stash"
alias gstp="git stash pop"

alias copy="pbcopy"
alias paste="pbpaste"
alias oc="opencode"

alias k="kubectl"
alias ktx="kubectx"
alias kns="kubens"

alias dpu="devpod up ."
alias dpd="devpod delete ."
alias dp="devpod ssh ."

alias dot="cd ~/.dotfiles"
alias dotn="cd ~/.dotfiles/nvim/.config/nvim; nvim ."
alias dotz="nvim ~/.dotfiles/zsh"
alias dott="nvim ~/.dotfiles/tmux/.tmux.conf"

