if [ -d ~/.openrc ]; then
  alias osprod='source ~/.openrc/prodops_stp1'
  alias osdev='source ~/.openrc/dev_stp1'
  alias osimpl='source ~/.openrc/impl_stp1'
  alias ostechops='source ~/.openrc/techops_stp1'
  alias ostools='source ~/.openrc/tools_admin'
fi

alias g='git'
