[alias]
  # Show status
  s = status

  # List tags
  tags = tag -l

  # List branches
  branches = branch -a

  # List remotes
  remotes = remote -v

  co = commit
  ca = commit -a
[user]
  name = Aaron Miller
  email = "aaron@aaron-miller.net"

